{% load staticfiles %}
<!doctype html>
<html>
<head>
    {% block css %}
        <meta charset="utf-8">
        <title>个人主页</title>
        <meta name="keywords" content="个人博客模板,博客模板,响应式"/>
        <meta name="description" content="个人博客模板，神秘、俏皮。"/>
        <link href="/static/css/base.css" rel="stylesheet">
        <link href="/static/css/index.css" rel="stylesheet">
        <link href="/static/css/media.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    {% endblock %}

</head>
<body>

<div class="ibody">
    <header>
        <h1>{{ users.username }}的博客</h1>
        <h2>影子是一个会撒谎的精灵，它在虚空中流浪和等待被发现之间;在存在与不存在之间....</h2>
        <div class="logo"><a href="{% url 'app:dologin' %}"></a></div>
        <nav id="topnav"><a href="{% url 'app:dologin' %}">首页</a><a href="{% url 'app:about' %}">关于我</a><a
                href="{% url 'app:newlist' %}">我的日记</a><a href="{% url 'app:share' %}">分享</a><a
                href="{% url 'app:new' %}">生活</a></nav>
    </header>
    <article>
        <div class="banner">
            <ul class="texts">
                <p>The best life is use of willing attitude, a happy-go-lucky life. </p>
                <p>最好的生活是用心甘情愿的态度，过随遇而安的生活。</p>
            </ul>
        </div>
        <div class="bloglist">
            {% for blog in blogs %}
                        <div class="blogs">
                            <h3><a href="/">{{ blog.title }}</a></h3>
                            <ul>
                                <div style="height:100px;overflow: hidden">
                                    {{ blog.content }}
                                </div>
                                <a href="/" target="_blank" class="readmore" name="looked">阅读全文&gt;&gt;</a>
                            </ul>
                            <p class="autor">
                                <span>作者：</span>{{ users.username }}
                                <span>分类：【<a href="/">{{ blog.category }}</a>】</span>
                                <span>浏览（<a href="/">{{ blog.click_nums }}</a>）</span>
                                <span>评论（<a href="/">{{ comm.comment_nums }}</a>）</span>
                                <span>发表于：{{ blog.modify_time }}</span>
                            </p>
                            <div class="dateview" style="width: 300px;overflow: hidden">{{ blog.category }}</div>
                        </div>
            {% endfor %}
    </article>
    {% block body %}
        <aside>
            <div class="avatar"><a href="{% url 'app:about' %}"> <img src="{{ url }}" style="margin: -100px auto; width: 160px; height: 160px; border-radius: 100%; "> <span>关于{{ users.username }}</span></a></div>
            <div class="topspaceinfo">
                <h1>江湖就是人情世故</h1>
                <p>你若要喜爱你自己的价值，你就得给世界创造价值。</p>
            </div>
            <div class="about_c">
                <p>职业：{{ users.profession }} </p>
                <p>籍贯：{{ users.native_place }}</p>
                <p>电话：{{ users.phone }}</p>
                <p>邮箱：{{ users.email }}</p>
            </div>
            <div class="bdsharebuttonbox"><a href="https://qzone.qq.com/" class="bds_qzone" data-cmd="qzone"
                                             title="分享到QQ空间"></a><a href="https://weibo.com/" class="bds_tsina"
                                                                    data-cmd="tsina" title="分享到新浪微博"></a><a
                    href="http://t.qq.com/" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a
                    href="http://www.renren.com/" class="bds_renren" data-cmd="renren" title="分享到人人网"></a></div>
            <div class="tj_news">
                <h2>
                    <p class="tj_t1">最新文章</p>
                </h2>
                <ul>
                    {% for blog in blogs %}
                        <li>
                            <a href="/">{{ blog.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <h2>
                    <p class="tj_t2">推荐文章</p>
                </h2>
                <ul>
                    {% for blog in blogs %}
                        <li><a href="/">{{ blog.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="links">
                <h2>
                    <p>友情链接</p>
                </h2>
                <ul>
                    <li><a href="https://blog.csdn.net/qq_42936274">个人博客</a></li>
                    <li><a href="http://www.python88.com/">python中国社区</a></li>
                </ul>
            </div>
            <div class="copyright">
                <ul>
                    <p> Design by <a href="/">DanceSmile</a></p>
                    <p>豫ICP备18040197号-1</p>
                    </p>
                </ul>
            </div>
        </aside>
    {% endblock %}
    {% for blog in blogs %}
        <script src="/static/js/silder.js" type="text/javascript">
            var looked = document.getElementsByName('looked')
            var num = document.getElementsByName('{{ blog.click_nums }}')
            looked.onclick = function () {
                num += 1
            }
            $(function () {
                var more = $('')
            })
        </script>
    {% endfor %}
    <div class="clear"></div>
    <!-- 清除浮动 -->
</div>
<div style="text-align:center;">
</div>
</body>
</html>
